footer {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container_links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.container_logo {
  display: flex;
  align-items: center;
}
