.container__small-card {
  margin-top: 5%;
  padding: 0 12px;
  cursor: pointer;
}
.container__small-card img {
  height: auto;
  width: 380px;
  border-radius: 10px;
}

.container_person {
  display: flex;
}
.container_person img {
  height: auto;
  width: 20px;
}
