.container__menu-bar {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin: 15px 0;
  font-weight: 600;
}
.container_logo {
  display: flex;
  align-items: center;
  gap: 3px;
}
.container_logo a  {
  font-size: 1.3rem;
  text-decoration: none;
  color: #000;
}
.container_logo img{
  height: auto;
  width: 30px;
}
.container_options {
  display: flex;
  font-size: 1.1rem;
  gap: 15px;
}
.container_options a {
  font-size: 1rem;
  text-decoration: none;
  color: #000;
  padding: 5px;
  transition: .5s;
}
.container_options a:last-child{
  border-bottom: 1px solid #000;
  border-radius: 5px;
}
.container_options a:hover {
  border-bottom: 1px solid #000;
}
.container_buttons {
  display: flex;
  gap: 7px;
}
.container_buttons button {
  color: #fff;
  border: 0;
  cursor: pointer;
  border-radius: 9px;
  font-weight: 500;
  padding: 8px;
  font-size: 1.1rem;
  transition: 1s;
  background: #050505;
  box-shadow: -50px -50px 100px #1f1f1f,  50px 50px 100px #242424;
}

.container_buttons button:not(:last-child) {
  color: #000;
  background: #ffffff;
  box-shadow: -50px -50px 100px #b4b4b4,  50px 50px 100px #cac9c9;
}

